:root
{
    --text: #14080c;
    --background: #fdfafc;
    --primary: #cf487b;
    --secondary: #e68bae;
    --accent: #e3548b;
    --unchanging-white: #fdfafc;
}

.darkMode
{
    --text: #f8edf0;
    --background: #242223;
    --primary: #b53063;
    --secondary: #76193d;
    --accent: #ab1c53;
}

body
{
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
}

/* Header */

header
{
    background-color: var(--secondary);
    width: 100%;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid var(--text);
    display: flex;
    flex-direction: row;
}

.headerTitle{
    color: var(--unchanging-white);
    margin: auto auto auto 2em;
    width: 30%;
    line-height: 100%;
    display: inline;
    font-style: italic;
    text-align: left;
}

.navigationOptions
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    width: 40%;
}

.navigationOptions li
{
    margin: auto;
}

.navigationOptions a
{
    color: var(--text);
    padding: 1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    text-decoration: none;
    background-color: var(--background);
    border-radius: 20%;
}

.navigationOptions a:hover
{
    color: var(--text);
    filter: brightness(-10%);
    opacity: 80%;
    transition: 0.5s;
}

/* Header - Dark Mode Button */

#themeButton
{
    width: 30%;
    background-color: transparent;
    font-size: 1em;
    color: var(--text);
    font-size: 3em;
    margin: auto 4rem auto auto;
    border-style: none;
    text-align: right;
}

/* Main Content */

.contents
{
    padding: 2em;
}

.contents h2
{
    color: var(--secondary);
}

/* Project Cards */

.projectCard
{
    width: 20%;
    border-radius: 5%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    overflow: hidden;
    border-style: solid;
    border-color: var(--text);
    border-width: 0.1em;
}

.projectCard:hover
{
    filter:drop-shadow(0 0 0.5em var(--text));
    transition: 0.5s;
}

.projectCard img
{
    display: block;
    width: 100%;
    height: auto;
}

.projectCard h3
{
    padding: 1em;
    background-color: var(--primary);
    color: var(--unchanging-white);
    margin: 0;
}

.projectCard p
{
    padding: 0em 1em;
}

/* Project Cards - Buttons */

.projectButtons
{
    padding: 0em 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

.projectButtons a
{
    width: 20%;
    text-decoration: none;
    color: var(--unchanging-white);
    padding: 1em;
    text-align: center;
}

.repoButton
{
    background-color: var(--accent);
}

.webButton
{
    margin-left: auto;
    background-color: var(--accent);
}

.projectButtons a:hover
{
    filter: brightness(85%);
    transition: 0.5s;
}